body {
    display: flex;
    flex-direction: row;
}
div {
    border: solid;
}

#player {
    width: 600px;
}

#button {
    position: absolute;
    top: 30px;
    left: 470px;
    width: 100px;
}

#plate {
    position: absolute;
    top: 30px;
    left: 23px;
    width: 400px;
}

#thing {
    position: absolute;
    top: 80px;
    left: 415px;
    width: 50px;
    height: 230px;
    transition-duration: 1s;
    transform-origin: 30% 30%;
}

#on {
    position: absolute;
    top: 60px;
    left: 485px;
    display: none;
}

#off {
    position: absolute;
    top: 61px;
    left: 545px;
}

#timer {
    display: inline-block;
    background: lightskyblue;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 480px;
    top: 120px;
    text-align: center;
    padding-top: 6px;
}

#songs {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100px;
    margin: 5px;
    margin-left: 50px;
    z-index: 10;
}

.margin {
    margin-top: -110px;
}

.plate {
    width: 100px;
    position: relative;
    top: -105px;
    left: 43px;
    transition-duration: 0.5s;
}

.titles {
    position: relative;
    margin: 0px;
    top: -121px;
    left: 52px;
    font-size: 16px;
    z-index: 30;
    color: white;
}

.box:hover + .plate {
    left: 30px;
}

#plate-title {
    position: absolute;
    color: white;
    top: 198px;
    left: 175px;
}

.spin {
    animation: 5s linear 0s normal none infinite running rot;
    -webkit-animation: 5s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

audio {
    display: none;
}